
@{
    ViewBag.Title = "Home";
}

<h2>CASS Inc.</h2>

<div>
    @Html.ActionLink("Staff Listing", "Index", "Employees") <br />
    @Html.ActionLink("Departments Listing", "Index", "Departments")
</div>