
@{
    ViewBag.Title = "Home";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.10.2.min.js"></script>

<h2>Wekcome to CASS</h2>

<div>
    @Html.ActionLink("Staff Listing", "Index", "Employees") <br />
    @Html.ActionLink("Departments Listing", "Index", "Departments") <br />
    @Html.ActionLink("Buildings Listing", "Index", "Buildings")
</div>
