
@{
    ViewBag.Title = "Home";
}

<h2>Wekcome to CASS</h2>

<div>
    @Html.ActionLink("Staff Listing", "Index", "Employees") <br />
    @Html.ActionLink("Departments Listing", "Index", "Departments") <br />
    @Html.ActionLink("Buildings Listing", "Index", "Buildings")
</div>